  <!-- ここから
  【画像表示の仕組み】
    １．画像表示は3層で構築
        ➡world_map.png -> 第4層（最背面）世界地図の全体画像(3725x2048).
        ➡pile_image    -> 第3層（中間層）ゲームクリアした国を表示.
        ➡select_iamge  -> 第2層（中間層）現在、マウスでポイントしている国を表示.
        ➡skelton_image -> 第1層（最前面）透明な画像(3725x2048).
    ２．国の特定方法
        ➡skelton_imageの中でどの座標をポイントしているかを取得(3725x2048)
        ➡国の座標情報を記録したデータから取得座標で検索して、国を特定する
        ➡その国をselect_imageに入れる
    ３．正解した時のフロー
        ➡正解した国を第3層に追加・表示 ※常に1枚（毎回上書き）
        ➡正解した国名をDBに登録（非同期通信）
        ➡正解した国をバイナリ画像に追加合成して、DBに登録（非同期通信）
        ➡非同期通信完了時に、最新のバイナリ画像をDBから取得して表示
  -->
<!-- 設定メニュー -->
<div class="wrapper">
    <header>
        <div></div>
        <p>WorldGeographic</p>
    </header>
    <!-- ログイン中の画面 -->
    <div>
        <span class="side-menu-que">問題形式</span>
        <span class="btn btn-outline-danger text-white mt-2 mb-3 ml-4" style="background-color:limegreen;" id="game1">場所➡国名</span>
        <span class="btn btn-outline-danger text-white mt-2 mb-3 ml-4" id="game2">国名➡首都</span>
        <br>
        <span class="side-menu-que">出題地域</span>
        <span class="Region btn btn-outline-danger text-white mt-2 mb-3 ml-4" id="Europe">ヨーロッパ</span>
        <span class="Region btn btn-outline-danger text-white mt-2 mb-3 ml-4" id="Asia">アジア</span>
        <br>
        <span class="Region btn btn-outline-danger text-white mt-2 mb-3 ml-4" id="Africa">アフリカ</span>
        <span class="Region btn btn-outline-danger text-white mt-2 mb-3 ml-4" id="Oceania">オセアニア</span>
        <br>
        <span class="Region btn btn-outline-danger text-white mt-2 mb-3 ml-4" id="NorthAmerica">北アメリカ</span>
        <span class="Region btn btn-outline-danger text-white mt-2 mb-3 ml-4" id="SouthAmerica">南アメリカ</span>

        <% if logged_in? %>
            <div style="font-size:0;"><!-- ログアウトの上に余白があるため -->
                <%= link_to "マイページ", current_user, class: "side-menu", style: "border-top:1px solid white;" %><br>
                <%= link_to "ログアウト", logout_path, method: :delete, class: "side-menu" %>
            </div>
        <% else %>
            <%= link_to "ログイン", login_path, class: "side-menu" , style: "border-top:1px solid white;" %>
        <% end %>
    </div>
    <!-- 管理モード -->
    <% if current_user.id == 1 %>
        <div class="admin">
    <% else %>
        <div class="admin" hidden>
    <% end %>
            <p style="display:block; background-color: lightgreen; text-align:center; border-bottom: 1px solid black;margin:0;">新規データ登録</p>
            <div style="padding: 10px;background-color: lightgreen">
                <p style="display: inline-block">国名</p>
                <input type="text" placeholder="country name" id="country" style="margin-left:5px;margin-bottom:5px;height:30px;">
                <br>
                <p style="display: inline-block"">首都</p>
                <input type="text" placeholder="capital name" id="capital" style="margin-left:5px;height:30px;">
                <p style="margin-bottom:0;margin-top:3px;font-size:12px;">※登録モードを有効にしてください．</p>
                <p style="margin-bottom:0;margin-top:3px;font-size:12px;">※国名、首都名を入力してください．</p>
                <p style="margin-bottom:0;margin-top:3px;font-size:12px;">※登録国の場所を地図上で指定してください．</p>
            </div>
            <p style="display:block; background-color: lightcoral; text-align:center;border-bottom: 1px solid black;margin:0;">削除データ登録</p>
            <div style="padding: 10px;background-color: lightcoral">
                <p style="margin-left:3px;font-size:12px;display:inline-block;">削除するデータを選択してください．</p>
                <% if @register=="true" %>
                    <input type="button" class="btn btn-primary btn-sm" value="削除" id="delete" style="margin-left:5px; display:inline-block;">
                <% else %>
                    <input type="button" class="btn btn-primary btn-sm" value="削除" id="delete" disabled="disabled" style="margin-left:5px; display:inline-block;">
                <% end %>
                <select name="delete_menu" id="delete_menu" style="margin-left:5px;height:30px;">
                    <option></option>
                </select>
                <p style="margin-bottom:0;margin-top:3px;font-size:12px;">※登録モードを有効にすると、実行できます．</p>
            </div>
            <p style="display:block; background-color: lightblue; text-align:center;border-bottom: 1px solid black;margin:0;">透明バッチ処理</p>
            <div style="padding: 10px;background-color: lightblue">
                <% if @register=="true" %>
                    <input type="button" value="透明処理" id="skelton" style="margin-left:2px;">
                <% else %>
                    <input type="button" value="透明処理" id="skelton" disabled="disabled" style="margin-left:2px;">
                <% end %>
            </div>
            <% if @register == "true" %>
                <div style="display:flex;margin-top:5px;">
                    <input type="checkbox" name="mode" style="margin-left:5px;margin-right:5px;text-align:center;width:20px;height:20px;flex-basis: 20px;" id="mode" checked>
                    <p style="color:white;">登録モードを有効</p>
                </div>
            <% else %>
                <div style="display:flex;margin-top:5px;">
                    <input type="checkbox" name="mode" style="margin-left:5px;margin-right:5px;text-align:center;width:20px;height:20px;flex-basis: 20px;" id="mode">
                    <p style="color:white;">登録モードを有効</p>
                </div>
            <% end %>
            
            <!-- <div style="position: absolute;bottom:0;width:100%;color:white;"> -->
            <div style="color:white;">
                <span id="mouse-position" class="side-info">ブラウザ上のマウス位置：</span>
                <br>
                <span id="img-position" class="side-info">画像上のマウス位置：</span>
                <br>
                <span id="org-position" class="side-info">元画像上のマウス位置</span>
                <br>
                <span id="country_count" class="side-info">データ登録数：</span>
                <br>
                <span id="test">***</span>
            </div>
        </div>
    <!-- 管理モードここまで -->
</div>

<!-- 画像表示ゾーン -->
<div class="display-space" id="display-space">
    <!--  画像処理後の表示 -->
    <% if @top!=nil %>
        <img src="/image/1/1" class="input-image" id="input-image_base" style="<%= "top: #{@top}; left: #{@left}; width: #{@width}; height: #{@height}; max-width: initial; max-height: initial;" %>">
        <div id="pile_image">
            <!-- クリアした国をJSで追加表示する(タグIDはcountry_image1..) -->
        </div>
         <!-- 選択中の国を表示(青) -->
        <img src="country_img/skelton.png" class="input-image" id="select_image" style="<%= "top: #{@top}; left: #{@left}; width: #{@width}; height: #{@height}; max-width: initial; max-height: initial;" %>">
        <img src="country_img/skelton.png" class="input-image" id="input-image" style="<%= "top: #{@top}; left: #{@left}; width: #{@width}; height: #{@height}; max-width: initial; max-height: initial;" %>">
    <!--  初期の表示（全体と透明マップ） -->
    <% else %>
        <img src="/image/1/1" class="input-image" id="input-image_base">
        <div id="pile_image">
            <!-- クリアした国をJSで追加表示する(タグIDはcountry_image1~[クリア数]) -->
        </div>
        <!-- 選択中の国を表示(青) -->
        <img src="country_img/skelton.png" class="input-image" id="select_image">
        <img src="country_img/skelton.png" class="input-image" id="input-image"> <!-- 透明画像．画像はフルサイズ -->
    <% end %>
    <span class="horizontal" id="horizontal"></span>
    <span class="vertical" id="vertical"></span>
    <button class="menu_icon" id="menu_icon">×</button>
    <button type="button" value="－縮小" id="smaller" class="smaller">‐</button>
    <button type="button" value="＋拡大" id="bigger" class="bigger">+</button>
    <button type="button" value="リセット" id="reset" class="reset">R</button>
    <div class="" id="question"></div>
    <div class="balloon4" id="select1">選択１</div>
    <div class="balloon4" id="select2">選択２</div>
    <div class="balloon4" id="select3">選択３</div>
    <div class="balloon4" id="select4">選択４</div>
    <div class="droppin" id="droppin"></div>
</div>

<!-- 以下、javascript -->
<script type="text/javascript">
try{
    var style_size = 0;
    var mX = 0 ;
    var mY = 0;
    var ini_width = 0;
    var ini_height = 0;
    var top_pos  = "";
    var left_pos  = "";
    var img_h  = "";
    var img_w  = "";
    var img_top_abs = "";
    var img_left_abs = "";
    var img_mouse_x = 0;
    var img_mouse_y = 0;
    var OrgWidth = 0;
    var OrgHeight = 0;
    var Org_mouse_x = 0;
    var Org_mouse_y = 0;
    var mX_start = 0;
    var mY_start = 0;
    var drag_flg = false
    var out_range_flg = false
    var mode = document.getElementsByName("mode");
    var mX_before = 0;
    var mY_before = 0;
    var img_move_flg = false; //マウスダウン中はtrue,マウスアップ中はfalse
    var check =false //登録したデータがファイルに追加されているかチェック（デバッグ用）
    var hoverFlag = false //マウスが画像上にホバーしている時はTRUE
    var menu_open_flg = true //メニューが開いてる時TRUE
    var now_country =""
    var now_capital =""
    var country_list =[];
    var capital_list =[];
    var correct_option = 0; //現在出題されている問題の答え番号（１～４）
    var correct_country = 0;
    var game_number =1; //選択されているgame番号[1:game1 2:game2]
    var clear_game1 = "<%= @ClearGame1 %>"; //controllerから情報取得（game1クリア情報）
    var clear_game2 = "<%= @ClearGame2 %>"; //controllerから情報取得（game2クリア情報）
    var unique_num = 2 //非同期通信が発生する度にカウントアップ（srcにセットするURLがユニークでないと、再レンダリングされないから）

    if(clear_game1 ==""){
        clear_game1=[]
    }else{
        clear_game1 = clear_game1.split(','); //配列に分割
    }
    if(clear_game2==""){
        clear_game2=[]
    }else{
        clear_game2 = clear_game2.split(','); //配列に分割
    }
    // publicフォルダからの相対パスで指定
    var country_table = [];
    readTextFile("country.txt")
    //MAP上にマウスがいる時
    $('#input-image').hover(function() {
        hoverFlag=true
    });
    //MAP上にマウスがない時
    $('.wrapper').hover(function() {
        hoverFlag=false
    });
    //重複なし乱数生成(0~入力値-1までの範囲で3つ取り出す)
    function random(arr_length, answer_index){
        var arr = [...Array(arr_length).keys()]
        arr.splice( answer_index, 1 ); //答えの配列番号は除外
        var a = arr.length;
        var temp =[]
        while (a) { //答え以外でシャッフル
            var j = Math.floor( Math.random() * a );
            var t = arr[--a];
            arr[a] = arr[j];
            arr[j] = t;
        }
        temp.push(arr[0])
        temp.push(arr[1])
        temp.push(arr[2])
        temp.push(answer_index) //答えを追加
        a = temp.length;
        while (a) { //答えを入れた4つをシャッフル
            var j = Math.floor( Math.random() * a );
            var t = temp[--a];
            temp[a] = temp[j];
            temp[j] = t;
        }
        return temp
    }
    //--------------------------------------------------------------------
    function sort_data(table){
        // var country = str.split('/')
        var temp = ""
        for(var i=0; i<table.length-1; i++){
            for(var j=i+1; j<=table.length - 1; j++){
                if(table[i].toLowerCase() > table[j].toLowerCase()){ //大文字と小文字を区別しない
                    temp = table[i]
                    table[i] = table[j]
                    table[j] = temp
                }
            }
        }
        return table;
    }
    //国リストを表示
    function display_list(){
        var target_items = '<select name="delete_menu" id="delete_menu">';
        var country_count = 0;
        country_table.forEach(function( str ) {
            var country = str.split('/');
            if(country[0] != ""){ //空白は表示しない（ファイルの最終行に改行があるため）
                target_items = target_items + '<option value="' + country[0] + '">'+country[0]+'</option>';
                country_list.push(country[0])
                capital_list.push(country[1])
                country_count++;
                // デバッグ用
                var x = "<%= @country %>";
                if(country[0]==x){
                    check=true
                }//ここまで
            }
        });
        if(check==false && "<%= @country %>"!=""){alert("<%= @country %>"+"が追加されていません")} //デバッグ用
        target_items = target_items + '</select>';
        elem = document.getElementById('delete_menu')
        elem.innerHTML = target_items
        elem_count = document.getElementById('country_count')
        elem_count.innerHTML = '<span id="country_count">データ登録数：'+ country_count +'カ国</span>'
    }

    //クリア国を一時的に表示（DB登録と画像合成完了するまで必要なため）
    function completed_country_display(clear_country) {
        var str = '<img src="country_img/green/'+clear_country+'.png" class="input-image">'
        elem = document.getElementById('pile_image')
        elem.innerHTML = str //pile_imageには直近の正解画像1枚を表示
        //位置調整
        var top = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top');
        var left = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left');
        var width = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width');
        var height = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height');
        $(".input-image").css({
            top: top,
            left: left,
            width: width,
            height: height,
        });
        photo_scale_change(1) //国の位置がなぜかずれるので、再描画
    }
    //国の特定と表示
    function country_display(col,row) {
        var pos_key = "["+col + ", " + row+"]";
        var flg = false; //ローカル変数
        country_table.forEach(function( str ) {
            if(str.indexOf(pos_key) != -1){
                var country = str.split('/')
                //画像表示
                // elem = document.getElementById('input-image')
                elem = document.getElementById('select_image')
                elem.src = "country_img/blue/"+country[0] + ".png";
                m_position = document.getElementById('test')
                m_position.innerHTML = '<span id="test">国名：'+country[0]+' 首都名'+ country[1] +'</span>'
                now_country = country[0] //グローバル変数
                now_capital = country[1] //グローバル変数
                flg=true;
            }
        });
        //国の上にマウスがない時
        if(flg==false){
            elem = document.getElementById('select_image')
            elem.src = "country_img/skelton.png";
        }
    }
    function readTextFile(file){
        var rawFile = new XMLHttpRequest();
        var allText = "";
        rawFile.open("GET", file, true);
        //以下３行はキャッシュから取得しない設定
        rawFile.setRequestHeader('Pragma', 'no-cache');
        rawFile.setRequestHeader('Cache-Control', 'no-cache');
        rawFile.setRequestHeader('If-Modified-Since', 'Thu, 01 Jun 1970 00:00:00 GMT');
        rawFile.onreadystatechange = function (){
            dispLoading("データ取得中．．．")
            if(rawFile.readyState === 4){
                if(rawFile.status === 200 || rawFile.status == 0){
                    // alert("読み込み開始")
                    allText = rawFile.responseText;
                    country_table = allText.split(/\n/) //「japan/tokyo/[1022,2091]」改行コードで配列化
                    country_table = country_table.filter(Boolean); //空白除去
                    country_table = sort_data(country_table)
                    display_list() // ドロップダウンに国をリストする
                }
                else if(rawFile.status === 304){
                    alert("ステータスコード：304")
                }else{
                    allText="失敗"
                    alert("データ取得失敗")
                }
                removeLoading()
            }
        }
        rawFile.send(null);
    }

    //--------------------------------------------------------------------
    // 登録モードボタン
    document.getElementById("mode").onclick = function (event) {
        const mode = document.getElementsByName("mode");
        var delete_btn = document.getElementById("delete")
        var skelton_btn = document.getElementById("skelton")
        if(mode[0].checked){
            //登録モードがON
            delete_btn.disabled = false;
            skelton_btn.disabled = false;
        }else{
            delete_btn.disabled = true;
            skelton_btn.disabled = true;
        }
    };
    document.getElementById("Europe").onclick = function (event) {
        choose_region(306,838,3.0) //アフリカの中心座標は(375,1400)
    };
    document.getElementById("Asia").onclick = function (event) {
        choose_region(1096,746,1.5) //アフリカの中心座標は(375,1400)
    };
    document.getElementById("Oceania").onclick = function (event) {
        choose_region(1386,1665,3.0) //アフリカの中心座標は(375,1400)
    };
    document.getElementById("Africa").onclick = function (event) {
        choose_region(375,1400,2.0) //アフリカの中心座標は(375,1400)
    };
    document.getElementById("NorthAmerica").onclick = function (event) {
        choose_region(2432,834,2.5) //アフリカの中心座標は(375,1400)
    };
    document.getElementById("SouthAmerica").onclick = function (event) {
        choose_region(2841,1575,2.0) //アフリカの中心座標は(375,1400)
    };
    //引数の座標(画像上の座標)がブラウザの中心に来るように移動
    function choose_region(x_image_pos,y_image_pos,scale){
        photo_scale_reset();

        var window_w = window.innerWidth; //ブラウザの幅
        var window_h = window.innerHeight; //ブラウザの高さ
        var natural_w = parseFloat(document.getElementById('input-image').naturalWidth); //元画像の幅
        var natural_h = parseFloat(document.getElementById('input-image').naturalHeight); //元画像の高さ
        var current_top = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top'))
        var current_left = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left'))
        var current_w = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width'))
        var current_h = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height'))
        var move_x = window_w/2 - (current_w / natural_w * x_image_pos + (window_w-current_w)/2)
        var move_y = window_h/2 - (current_h / natural_h * y_image_pos + (window_h-current_h)/2)
        $(".input-image").css({
            left: current_left + move_x + 'px',
            top: current_top + move_y + 'px',
        });

        photo_scale_change(scale)
        current_top = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top'))
        current_left = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left'))
        current_w = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width'))
        current_h = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height'))
        var top_pos  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top');
        var left_pos  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left');
        var img_h  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height');
        var img_w  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width');
        var img_top_abs = parseFloat(top_pos) - (parseFloat(img_h) / 2);
        var img_left_abs = parseFloat(left_pos) - (parseFloat(img_w) / 2);
        // 画像上のマウス位置
        var img_mouse_x = window_w/2 - img_left_abs //現在のブラウザの中心に存在する画像上のピクセル
        var img_mouse_y = window_h/2 - img_top_abs //現在のブラウザの中心に存在する画像上のピクセル
        img_mouse_x = (natural_w / current_w) * img_mouse_x //元画像上のマウス位置
        img_mouse_y = (natural_h / current_h) * img_mouse_y //元画像上のマウス位置
        var differ_x = img_mouse_x - x_image_pos
        var differ_y = img_mouse_y - y_image_pos
        move_x = current_w / natural_w * differ_x
        move_y = current_h / natural_h * differ_y
        $(".input-image").css({
            left: current_left + move_x + 'px',
            top: current_top + move_y + 'px',
        });
    };
    // Game1ボタン（国名➡首都をあてるゲーム）
    document.getElementById("game1").onclick = function (event) {
        document.getElementById("game1").style.backgroundColor ="limegreen";
        document.getElementById("game2").style.backgroundColor ="initial";
        elem = document.getElementById('input-image_base') //デバッグ
        elem.src='/image/'+ unique_num + "/1" //デバッグ
        // completed_country_display(clear_game1) //クリア国の表示切り替え
        document.getElementById('pile_image').innerHTML = "";
        unique_num+=1;
        game_number=1;
    };
    // Game2ボタン（首都➡国名をあてるゲーム）
    document.getElementById("game2").onclick = function (event) {
        document.getElementById("game1").style.backgroundColor ="initial";
        document.getElementById("game2").style.backgroundColor ="limegreen";
        // completed_country_display(clear_game2) //クリア国の表示切り替え
        elem = document.getElementById('input-image_base') //デバッグ
        elem.src='/image/'+ unique_num + "/2" //デバッグ
        document.getElementById('pile_image').innerHTML = "";
        unique_num+=1;
        game_number=2;
    };
    //選択肢ボタン
    document.getElementById("select1").onclick = function (event) {
        if(correct_option==1){
            if(game_number == 1){
                clear_game1.push(correct_country)
                completed_country_display(correct_country)
            }else{
                clear_game2.push(correct_country)
                completed_country_display(correct_country)
            }
            UpdateDB(correct_country,game_number) 
            // alert("正解")
        }else{
            // alert("残念")
        }
    }
    document.getElementById("select2").onclick = function (event) {
        if(correct_option==2){
            if(game_number == 1){
                clear_game1.push(correct_country)
                completed_country_display(correct_country)
            }else{
                clear_game2.push(correct_country)
                completed_country_display(correct_country)
            }
            UpdateDB(correct_country,game_number)
            // alert("正解")
        }else{
            // alert("残念")
        }
    }
    document.getElementById("select3").onclick = function (event) {
        if(correct_option==3){
            if(game_number == 1){
                clear_game1.push(correct_country)
                completed_country_display(correct_country)
            }else{
                clear_game2.push(correct_country)
                completed_country_display(correct_country)
            }
            UpdateDB(correct_country,game_number)
            // alert("正解")
        }else{
            // alert("残念")
        }
    }
    document.getElementById("select4").onclick = function (event) {
        if(correct_option==4){
            if(game_number == 1){
                clear_game1.push(correct_country)
                completed_country_display(correct_country)
            }else{
                clear_game2.push(correct_country)
                completed_country_display(correct_country)
            }
            UpdateDB(correct_country,game_number)
            // alert("正解")
        }else{
            // alert("残念")
        }
    }
    // 縮小ボタン
    document.getElementById("smaller").onclick = function (event) {
        photo_scale_change(0.95);
    }
    // 拡大ボタン
    document.getElementById("bigger").onclick = function (event) {
        photo_scale_change(1.05);
    }
    // リセットボタン
    document.getElementById("reset").onclick = function (event) {
        photo_scale_reset();
    }
    // menu開くボタンクリック
    document.getElementById("menu_icon").onclick = function (event) {
        if(menu_open_flg){
            //閉じる処理
            $(".wrapper").css({
                "display": "none",
            });
            $(".menu_icon").css({
                "left": "30px",
            });
            $(".menu_icon").text("M");
            menu_open_flg=false
        }else{
            //開く処理
            $(".wrapper").css({
                "display": "initial",
            });
            $(".menu_icon").css({
                "left": "320px",
            });
            $(".menu_icon").text("×");
            menu_open_flg=true
        }
    }
    // データ削除ボタン（登録モードのとき）
    // 選択されている国を登録から削除する
    // データを削除したテキスト内容をコントローラに送る
    document.getElementById("delete").onclick = function (event) {
        var delete_key = $('#delete_menu option:selected').text(); //例：japan
        //データを削除するpostリクエスト
        postDeleteCountry(delete_key);
    }

    //画像透明化アクション（バッチ処理）
    document.getElementById("skelton").onclick = function (event) {
        postskelton();
    }
    var send_pos_data = ""; //post送信用のデータ｛例｝x1,y1,x2,y2,x3,y3
    var region_index = 2;
    var dummy_data =""; //実際に送るデータではない（アラートに表示用）
    // 画像上でクリック
    document.getElementById("input-image").onclick = function (event) {
        if(drag_flg){
            //マウスダウンとマウスアップの間にマウス移動があった場合、クリックとみなさない！
            return
        }
        // 画像処理
        const mode = document.getElementsByName("mode");
        var country_name = document.getElementById("country").value;
        var capital_name = document.getElementById("capital").value;
        if(mode[0].checked){
            if(country_name != "" && capital_name != ""){
                dummy_data += "["+ Math.round(Org_mouse_x) + ',' + Math.round(Org_mouse_y) +"]" 
                var result = window.confirm('国を登録しますか？\n※'+ region_index +'つ目の領域を選択する場合はキャンセル\n選択中の座標：'+dummy_data);
                if(result) {
                    send_pos_data += Math.round(Org_mouse_x) + ',' + Math.round(Org_mouse_y)
                    alert(send_pos_data)
                    postForm(send_pos_data);
                    region_index = 2;
                }else{
                    //複数領域の選択
                    send_pos_data += Math.round(Org_mouse_x) + ',' + Math.round(Org_mouse_y) + ','
                    region_index++
                }
            }else{
                alert("国名、首都名を入力してください")
            }
        }else{
            // alert("管理モードがONになっていません！")
            var elem = document.getElementById("droppin")
            elem.style.left = mX - 10 + "px";
            elem.style.top = mY - 50 + "px";
            elem.style.display = 'initial';
            var answer = country_list.indexOf(now_country);
            var random_num =random(country_list.length-1,answer)
            var num1 = random_num[0]
            var num2 = random_num[1]
            var num3 = random_num[2]
            var num4 = random_num[3]
            if(game_number==1){
                var elem = document.getElementById("question")
                elem.innerHTML = "選択した国の国名は次のうちどれでしょう？"
                elem.style.display = "initial"
                elem = document.getElementById("select1")
                elem.style.display = "initial"
                elem.innerHTML = "① "+country_list[num1]
                elem = document.getElementById("select2")
                elem.style.display = "initial"
                elem.innerHTML = "② "+country_list[num2]
                elem = document.getElementById("select3")
                elem.style.display = "initial"
                elem.innerHTML = "③ "+country_list[num3]
                elem = document.getElementById("select4")
                elem.style.display = "initial"
                elem.innerHTML = "④ "+country_list[num4]
                var cards = [num1,num2,num3,num4];
                correct_option = cards.indexOf(answer) + 1; //正解番号を記憶
                correct_country = now_country;
            }else if(game_number==2){
                var elem = document.getElementById("question")
                elem.innerHTML = ""+ now_country +"の首都名は次のうちどれでしょう？"
                elem.style.display = "initial"
                elem = document.getElementById("select1")
                elem.style.display = "initial"
                elem.innerHTML = "① "+capital_list[num1]
                elem = document.getElementById("select2")
                elem.style.display = "initial"
                elem.innerHTML = "② "+capital_list[num2]
                elem = document.getElementById("select3")
                elem.style.display = "initial"
                elem.innerHTML = "③ "+capital_list[num3]
                elem = document.getElementById("select4")
                elem.style.display = "initial"
                elem.innerHTML = "④ "+capital_list[num4]
                var cards = [num1,num2,num3,num4];
                correct_option = cards.indexOf(answer) + 1; //正解番号を記憶
                correct_country = now_country;
            }
        }
    }
    //マウスホイール
    document.addEventListener("mousewheel", function(e) {
        //画像表示スペース上でホイールされたら、画像のサイズ変更をする
        if(hoverFlag==false){ //hover時のborderプロパティで判断(greenなら)
            return  //範囲外
        }
        var delta = e.deltaY;
        if (delta < 0){
            // 拡大
            // photo_scale_bigger();
            const startTime = Date.now();
            photo_scale_change(1.2);
            const endTime = Date.now();
            var time=endTime-startTime;
            console.log("拡大の処理時間： " + time +"msec");
            // alert((endTime-startTime)/1000 +"Sec")
        }else{
            // 縮小
            // photo_scale_smaller();
            photo_scale_change(0.80);
        }
    });

    //マウスダウン
    document.addEventListener("mousedown", function(e) {
        out_range_flg = false
        if(hoverFlag==false){ //hover時のborderプロパティで判断（greenなら）
            //範囲外
            out_range_flg = true //マウスアップ時にこのフラグを見て、判断
            return
        }
        mX_start = e.pageX;  //X座標
        mY_start = e.pageY;  //Y座標
        drag_flg = false;   //フラグリセット
        img_move_flg = true; //マウスダウン中はtrue
        //test
        mX_before = e.pageX;  //X座標
        mY_before = e.pageY;  //Y座標
    });
    //マウスアップ
    document.addEventListener("mouseup", function(e) {
        if(out_range_flg==true){ //マウスダウンした場所が画像上でない場合、画像の移動はなし
            //範囲外
            return
        }
        mX_End = e.pageX;  //X座標
        mY_End = e.pageY;  //Y座標
        if(mX_start != mX_End || mY_start != mY_End){
            drag_flg = true //マウス移動があったため、フラグをたてる
        }
        img_move_flg = false; //マウスアップ中はfalse
    });

    function image_move(){
        if(img_move_flg==true){
            diff_x = mX - mX_before; // +:右方向 -:左方向
            diff_y = mY - mY_before; // +:下方向 -:上方向
            str_top = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top')) + diff_y
            str_top = str_top + "px"
            str_left = parseFloat(window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left')) + diff_x
            str_left = str_left + "px"
            pin_top = parseFloat(window.getComputedStyle(document.getElementById("droppin"), null).getPropertyValue('top')) + diff_y
            pin_left = parseFloat(window.getComputedStyle(document.getElementById("droppin"), null).getPropertyValue('left')) + diff_x
            $(".input-image").css({ //コード整理
                top: str_top,
                left: str_left,
            });
            document.getElementById("droppin").style.top = pin_top+"px";
            document.getElementById("droppin").style.left = pin_left+"px";
            mX_before = mX;
            mY_before = mY;
        }
    };
    //画像表示領域でのドラッグ選択禁止
    document.addEventListener('dragstart', function(event) {
        const draggable = event.target.getAttribute('draggable');
        // 明示的にdraggableにしている要素以外ドラッグ禁止
        if (!draggable || draggable === 'auto') {
            event.preventDefault();
        }
    });
    // マウスポインタの位置
    document.addEventListener("mousemove", function(e){
        mX = e.pageX;  //X座標
        mY = e.pageY;  //Y座標
        //座標を表示する
        var m_position = document.getElementById('mouse-position')
        m_position.innerHTML = '<span id="mouse-position">ブラウザ上のマウス位置：('+ mX + ',' + mY + ')</span>'
        if(hoverFlag==false){ //hover時のborderプロパティで判断（greenなら）
            //範囲外
            document.getElementById("vertical").style.display = 'none';
            document.getElementById("horizontal").style.display = 'none';
            elem = document.getElementById('select_image')
            elem.src = "country_img/skelton.png";
            return
        }
        //縦線表示
        var X = mX;
        $("#vertical").css({ //コード整理
            left: X + 'px',
            display: 'inline-block',
        });
        //横線表示
        var Y = mY;
        $("#horizontal").css({ //コード整理
            top: Y + 'px',
            display: 'inline-block',
        });
        //座標の表示
        position_display(); //管理モード時のみ座標表示
        country_display(Math.round(Org_mouse_x),Math.round(Org_mouse_y)); //ホバー時の国の表示
        image_move(); //クリック＆ムーブが起きた時だけ実行
    });
    function position_display(){
        //画像上のマウスの位置
        // top,leftはdisplay_splaceの中心座標（原点はdisplay_spaceの左上）
        // 画像はtransformでw/hの50%分移動させて中央揃えしている
        // display_spaceのtop/left分だけ座標をプラスする
        top_pos  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top');
        left_pos  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left');
        img_h  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height');
        img_w  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width');
        img_top_abs = parseFloat(top_pos) - (parseFloat(img_h) / 2);
        img_left_abs = parseFloat(left_pos) - (parseFloat(img_w) / 2);
        // 画像上のマウス位置
        img_mouse_x = mX - img_left_abs
        img_mouse_y = mY - img_top_abs
        // 画像上のマウス位置表示
        m_position = document.getElementById('img-position')
        m_position.innerHTML = '<span id="img-position">画像上のマウス位置：('+ Math.round(img_mouse_x) + ',' + Math.round(img_mouse_y) + ')</span>'
        // オリジナル画像に対するマウス位置
        OrgWidth = parseFloat(document.getElementById('input-image').naturalWidth);
        OrgHeight = parseFloat(document.getElementById('input-image').naturalHeight);
        Org_mouse_x = (OrgWidth / parseFloat(img_w) * img_mouse_x);
        Org_mouse_y = (OrgHeight / parseFloat(img_h) * img_mouse_y);
        m_position = document.getElementById('org-position')
        m_position.innerHTML = '<span id="org-position">元画像上のマウス位置：('+ Math.round(Org_mouse_x) + ',' + Math.round(Org_mouse_y) + ')</span>'
    };
    function pos_calc(in_x,in_y){
        //画像上のマウスの位置を取得
        // top,leftはdisplay_splaceの中心座標（原点はdisplay_spaceの左上）
        // 画像はtransformでw/hの50%分移動させて中央揃えしている
        // display_spaceのtop/left分だけ座標をプラスする
        var top_pos  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top');
        var left_pos  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left');
        var img_h  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height');
        var img_w  = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width');
        var img_top_abs = parseFloat(top_pos) - (parseFloat(img_h) / 2);
        var img_left_abs = parseFloat(left_pos) - (parseFloat(img_w) / 2);
        // 表示されている画像上のマウス位置（拡大、縮小を考慮）
        var img_mouse_x = in_x - img_left_abs // var img_mouse_x = mX - img_left_abs
        var img_mouse_y = in_y - img_top_abs // var img_mouse_y = mY - img_top_abs
        // オリジナル画像に対するマウス位置
        var OrgWidth = parseFloat(document.getElementById('input-image').naturalWidth);
        var OrgHeight = parseFloat(document.getElementById('input-image').naturalHeight);
        var out_x = (OrgWidth / parseFloat(img_w) * img_mouse_x);
        var out_y = (OrgHeight / parseFloat(img_h) * img_mouse_y);
        return [out_x, out_y]
    };
    // 拡大・縮小関数[scale:0.95,1.05など]
    function photo_scale_change(scale) {
        //スケール変換前の画像上のマウス位置
        position_display();
        var Org_mouse_x1 = Org_mouse_x
        var Org_mouse_y1 = Org_mouse_y
        var x = parseFloat(window.getComputedStyle(document.getElementById("droppin"), null).getPropertyValue('left'));
        var y = parseFloat(window.getComputedStyle(document.getElementById("droppin"), null).getPropertyValue('top'));
        var pos = pos_calc(x+10,y+50) //pinの画像上の位置を取得
        var org_pin_x1 = pos[0] //pinのX位置
        var org_pin_y1 = pos[1] //pinのY位置
        // alert(Org_mouse_x1+","+org_pin_x1)
        // alert(Org_mouse_y1+","+org_pin_y1)
        // スケール変換前のサイズ:width
        style_size = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width');
        style_size_h = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height');
        style_size = parseFloat(style_size) * scale
        style_size_h = parseFloat(style_size_h) * scale

        $(".input-image").css({ //コード整理
            width: style_size+"px",
            height: style_size_h+"px",
            maxWidth: 'initial',
            maxHeight: 'initial',
        });
        if(hoverFlag==false){ //hover時のborderプロパティで判断（greenなら）
            //範囲外
            //マウスポインタが画像に乗っていない時は以下実行しない（ボタンでサイズ変更したとき）
            return
        }
        //マウスポインタの位置を中心にサイズ変換する
        position_display(); //座標取得
        //X方向の計算・移動
        var differ_x = Org_mouse_x - Org_mouse_x1
        var left_val = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left');
        width_after = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width');
        differ_x = parseFloat(width_after) / parseFloat(OrgWidth) * differ_x //画像サイズに対するピクセルの大きさ調整
        var set_val = parseFloat(left_val) + differ_x
        x = parseFloat(window.getComputedStyle(document.getElementById("droppin"), null).getPropertyValue('left'));
        y = parseFloat(window.getComputedStyle(document.getElementById("droppin"), null).getPropertyValue('top'));
        pos = pos_calc(x+10,y+50) //pinの画像上の位置を取得(10,50の補正値はPINの刺さる場所を基点にするための補正)
        var org_pin_x = pos[0] //pinのX位置
        var org_pin_y = pos[1] //pinのY位置
        var pin_differ_x = org_pin_x - org_pin_x1
        pin_differ_x = parseFloat(width_after) / parseFloat(OrgWidth) * pin_differ_x
        var pin_left_val = window.getComputedStyle(document.getElementById("droppin"), null).getPropertyValue('left');
        var left_set_val = parseFloat(pin_left_val) + differ_x - pin_differ_x //differ_x - pin_differ_xで画像とPINの２重移動を補正
        $(".input-image").css({ //コード整理
            left: set_val + 'px',
        });
        document.getElementById("droppin").style.left = left_set_val + 'px';
        //Y方向の計算・移動
        var differ_y = Org_mouse_y - Org_mouse_y1
        var top_val = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top');
        height_after = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height');
        differ_y = parseFloat(height_after) / parseFloat(OrgHeight) * differ_y //画像サイズに対するピクセルの大きさ調整
        var set_val = parseFloat(top_val) + differ_y
        var pin_differ_y = org_pin_y - org_pin_y1
        pin_differ_y = parseFloat(height_after) / parseFloat(OrgHeight) * pin_differ_y
        var pin_top_val = window.getComputedStyle(document.getElementById("droppin"), null).getPropertyValue('top');
        var top_set_val = parseFloat(pin_top_val) + differ_y - pin_differ_y //differ_x - pin_differ_xで画像とPINの２重移動を補正
        $(".input-image").css({ //コード整理
            top: set_val + 'px',
        });
        document.getElementById("droppin").style.top = top_set_val + 'px';
    };

    // 画像サイズリセット
    function photo_scale_reset() {
        $(".input-image").css({ //コード整理
            width: 'auto',
            height: 'auto',
            maxWidth: '100%',
            maxHeight: '100%',
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
        });
        photo_scale_change(1)
        document.getElementById("droppin").style.display = 'none';
        send_pos_data="";
        region_index = 2;
        dummy_data=""
    };

    // POST送信
    function postForm(value) {
        var form = document.createElement('form');
    
        form.method = 'POST';
        form.action = '/proccess';
    
        var request1 = document.createElement('input');
        request1.type = 'hidden'; //入力フォームが表示されないように
        request1.name = 'position';
        request1.value = value;
        form.appendChild(request1);

        var request2 = document.createElement('input');
        request2.type = 'hidden'; //入力フォームが表示されないように
        request2.name = 'top';
        request2.value = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('top');
        form.appendChild(request2);

        var request3 = document.createElement('input');
        request3.type = 'hidden'; //入力フォームが表示されないように
        request3.name = 'left';
        request3.value = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('left');
        form.appendChild(request3);

        var request4 = document.createElement('input');
        request4.type = 'hidden'; //入力フォームが表示されないように
        request4.name = 'width';
        request4.value = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('width');
        form.appendChild(request4);
        
        var request5 = document.createElement('input');
        request5.type = 'hidden'; //入力フォームが表示されないように
        request5.name = 'height';
        request5.value = window.getComputedStyle(document.getElementById("input-image"), null).getPropertyValue('height');
        form.appendChild(request5);

        var request6 = document.createElement('input');
        request6.type = 'hidden'; //入力フォームが表示されないように
        request6.name = 'country';
        request6.value =document.getElementById("country").value;
        form.appendChild(request6);

        var request7 = document.createElement('input');
        request7.type = 'hidden'; //入力フォームが表示されないように
        request7.name = 'capital';
        request7.value =document.getElementById("capital").value;
        form.appendChild(request7);

        document.body.appendChild(form);
        dispLoading("サーバーアクセス中．．．")
        form.submit();
    }
    // POST送信(国名をキーにしてデータを削除する)
    function postDeleteCountry(value) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/remove';
    
        var request1 = document.createElement('input');
        request1.type = 'hidden'; //入力フォームが表示されないように
        request1.name = 'country';
        request1.value = value;
        form.appendChild(request1);
        document.body.appendChild(form);
        dispLoading("サーバーアクセス中．．．")
        form.submit();
    }
    // 透明化のバッチ処理
    function postskelton() {
        var form = document.createElement('form');
    
        form.method = 'POST';
        form.action = '/batch_skelton';
    
        var request1 = document.createElement('input');
        request1.type = 'hidden'; //入力フォームが表示されないように
        request1.name = 'skelton';
        request1.value = "実行";
        form.appendChild(request1);

        document.body.appendChild(form);
        dispLoading("Now Loading ．．．")
        form.submit();
    }

    /* ------------------------------
    Loading イメージ表示関数
    引数： msg 画面に表示する文言
    ------------------------------ */
    function dispLoading(msg){
        // 引数なし（メッセージなし）を許容
        if( msg == undefined ){
            msg = "";
        }
        // 画面表示メッセージ
        var dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
        // ローディング画像が表示されていない場合のみ出力
        if($("#loading").length == 0){
            $("body").append("<div id='loading'>" + dispMsg + "</div>");
        }
    }
    /* ------------------------------
    Loading イメージ削除関数
    ------------------------------ */
    function removeLoading(){
        $("#loading").remove();
    }
    //非同期でDBに登録
    function UpdateDB(correct_country,game_num){
        console.log("AJAXをキック（処理開始）") //debug
        $.ajax({
            type:'GET', // リクエストのタイプはGETです
            url: '/UpdateDB', // URLは"/meals"を指定します
            data: {correct_country: correct_country, game: game_num}, // コントローラへフォームの値を送信します
            dataType: 'json' // データの型はjsonで指定します
        })
        .done(function(data){
        // 通信に成功した場合の処理です
            console.log("非同期通信完了！") //debug
            elem = document.getElementById('input-image_base')
            elem.src='/image/'+ unique_num + "/" + game_number //DBからバイナリ画像取得
            unique_num = unique_num + 1
        })
        .fail(function(){
            // 通信に失敗した場合の処理です
            console.log('非同期通信失敗！') //debug
            alert('非同期通信失敗！')
        })
    }

}catch(e){
        var errMsg = "";
        if (e.fileName && e.lineNumber) {
            // ファイル名と行番号が取得できたらメッセージとしてログに出力する
            errMsg = "ファイル名：" + e.fileName + "、 行番号：" + e.lineNumber;
        } else {
            errMsg = e.message;
        }
        alert(errMsg)
        console.error("エラー：", errMsg);
}
</script>